.voyage-form {
    margin-top: 2rem;
}

.left-col {
    margin-left: 100px;
}

.center-col {
    text-align: center;
}

.condition-col {
    margin-left: 100px;
}

.dropdown-col {
    margin-left: 112px;
}

.submit-col {
    margin-left: 750px;
}
